doctype html
html
  head
    title=title
    link(rel='stylesheet', href='http://localhost:8888/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='http://localhost:8888/stylesheets/bootstrap.min.css')
  body
    div.container
      div.header.clearfix
        h3.text-muted VNPAY DEMO
      block content
      footer.footer
        p &copy; VNPAY #{new Date().getFullYear()}